Repository geopython/OWSLib, pull requests merged in 2018-04, with the labels that each got.

#416 Add WCS 2.0.0 & 2.0.1 capabilities that match WCS 1.0
  .gitignore
  .pylintrc
  owslib/coverage/wcs200.py
  owslib/coverage/wcs201.py
  owslib/coverage/wcsBase.py
  owslib/ows.py
  owslib/util.py
  owslib/wcs.py
  tests/doctests/wcs_200.txt
  tests/test_wcs_200.py
Labels: wcs

#399 Improve remote metadata parsing.
  owslib/feature/common.py
  owslib/feature/wfs100.py
  owslib/feature/wfs110.py
  owslib/feature/wfs200.py
  owslib/map/common.py
  owslib/map/wms111.py
  owslib/map/wms130.py
  tests/resources/csw_dov_getrecordbyid.xml
  tests/resources/wfs_dov_getcapabilities_100_nometadata.xml
  tests/resources/wfs_dov_getcapabilities_110.xml
  tests/resources/wfs_dov_getcapabilities_110_nometadata.xml
  tests/resources/wfs_dov_getcapabilities_200.xml
  tests/resources/wfs_dov_getcapabilities_200_nometadata.xml
  tests/resources/wms_dov_getcapabilities_111_nometadata.xml
  tests/resources/wms_dov_getcapabilities_130.xml
  tests/resources/wms_dov_getcapabilities_130_nometadata.xml
  tests/test_remote_metadata.py
Labels: wfs

#433 Fix #432: updated readme with travis badge
  AUTHORS.rst
  CHANGES.rst
  DEPENDENCIES.txt
  FAQ.txt
  HISTORY.txt
  INSTALL.txt
  MANIFEST.in
  README.rst
  docs/en/index.rst
  setup.py
Labels: documentation

#438 Fix #437: add headers, verify and cert options to wps
  owslib/wps.py
Labels: wps

#442 added gitter badge
  README.rst
Labels: documentation

#445 Fix issue #444: add async option to wps.execute
  owslib/wps.py
  tests/doctests/wps_request7.txt
  tests/doctests/wps_request8.txt
  tests/resources/wps_EmuExecuteRequest7.xml
  tests/resources/wps_EmuExecuteRequest8.xml
  tests/test_wps_request7.py
  tests/test_wps_request8.py
  tests/utils.py
Labels: wps

#449 Fix #333: add overwrite option to build_get_url
  owslib/util.py
  tests/test_util.py
Labels: common

#450 Fix wps checkStatus etc
  owslib/wps.py
  tests/test_wps.py
Labels: wps

#451 Fix #446: replace pep8 by flake8
  .travis.yml
  requirements-dev.txt
  tox.ini
Labels: tests

#454 Fix #421: pep8 wps
  .travis.yml
  owslib/wps.py
Labels: wps

#458 fix #453: replace ServiceMetadata in wmts and tms
  .travis.yml
  owslib/tms.py
  owslib/wmts.py
Labels: wmts
