Repository geopython/OWSLib, pull requests merged in 2018-12, with the labels that each got.

#524 add support for WFS 3 (#521)
  docs/en/index.rst
  owslib/feature/wfs300.py
  owslib/wfs.py
  tests/test_wfs3_ldproxy.py
  tests/test_wfs3_pygeoapi.py
Labels: wfs

#529 changed syntax to get rid of warning with python 3.6
  owslib/wps.py
Labels: bug

#532 OnlineResource element within the Service element is optional
  owslib/map/wms111.py
  owslib/map/wms130.py
Labels: bug, wms

#535 add release documentation
  README.rst
Labels: documentation

#537 make as_reference attribute optional (#536)
  owslib/wps.py
  tests/test_wps_request10.py
  tests/test_wps_request2.py
  tests/test_wps_request3.py
  tests/test_wps_request4.py
Labels: bug, wps

#540 Added support of setting output in ResponseDocument mimetype
  owslib/wps.py
Labels: enhancement, wps

#542 is_reference returns False if value is binary type
  owslib/wps.py
  tests/test_wps.py
Labels: bug, wps

#544 WPSExecution as a new-style class
  owslib/wps.py
Labels: wps
