Repository geopython/OWSLib, pull requests merged in 2018-08, with the labels that each got.

#495 skip test_wcs_200 (#494)
  tests/test_wcs_200.py
Labels: bug, tests

#498 Fix WPS offline tests
  tests/test_wps_execute.py
  tests/test_wps_execute_invalid_request.py
Labels: bug, tests

#499 converted doctest to "normal" test
  tests/doctests/sos_20_bom_gov_au.txt
  tests/test_sos_20_bom_gov_au.py
Labels: bug, sos, tests

#504 Converted and fixed ows_interface test (#503)
  tests/doctests/ows_interfaces.txt
  tests/test_ows_interfaces.py
Labels: bug, tests

#502 Fix ISO metadata parsing for empty gmd:featureCatalogueCitation.
  owslib/iso.py
  tests/resources/csw_geobretagne_mdmetadata.xml
  tests/test_iso_parsing.py
Labels: bug

#509 added codacy badge and config
  .codacy.yml
  README.rst
Labels: enhancement

#507 Various fixes for ISO
  owslib/iso.py
  tests/test_iso_parsing.py
Labels: bug
