Repository geopython/OWSLib, pull requests merged in 2019-08, with the labels that each got.

#592 copy and paste ready log example
  README.rst
Labels: documentation

#593 fix getOutput
  owslib/wps.py
Labels: bug, wps

#596 Update Service Provider for cases where ProviderSite-tag is provided …
  owslib/ows.py
Labels: bug, ows

#595 change syntax to avoid FutureWarning
  owslib/feature/wfs200.py
Labels: enhancement, wfs

#598 Avoid trying to parse None CRS bounding box values
  owslib/ows.py
Labels: enhancement, ows

#599 fix wps.describeprocess
  owslib/wps.py
  tests/test_wmts.py
  tests/test_wps_describeprocess_ceda.py
Labels: bug, wps
