Repository geopython/OWSLib, pull requests merged in 2019-09, with the labels that each got.

#602 Add Support WMS 1.3 ScaleDenominator
  owslib/map/wms130.py
Labels: wms

#604 Also look for gmx:Anchor for reference system code
  owslib/iso.py
Labels: bug, csw

#607 Remove malware link from documentation
  docs/en/index.rst
Labels: bug, documentation

#610 adding timout parameter to wmts request
  owslib/wmts.py
Labels: wmts
