Repository geopython/OWSLib, pull requests merged in 2019-01, with the labels that each got.

#546 Examples update: mimeType of output from recent api change
  examples/wps-birdhouse.py
Labels: wps

#551 use pytest>=3.6
  requirements-dev.txt
Labels: bug, tests

#549 Add mimetype, schema and encoding to references
  owslib/wps.py
Labels: bug, wps

#554 check html response in service_ok
  tests/utils.py
Labels: bug, tests

#555 Added support for parsing a process description containing multiple processes
  owslib/wps.py
  tests/resources/wps_EmuDescribeProcess_all.xml
  tests/test_wps.py
  tests/test_wps_describeprocess_emu_all.py
Labels: enhancement, wps

#557 fixes #556
  owslib/map/wms111.py
  owslib/map/wms130.py
  tests/test_wms_getmap.py
Labels: bug, wms

#559 Support namespace et get 'crs' and 'diemension' attribute in BoundingBox
  owslib/ows.py
  tests/test_ows.py
Labels: wps
