Repository geopython/OWSLib, pull requests merged in 2020-05, with the labels that each got.

#681 Add support in wps for retrieving data on local filesystem
  owslib/wps.py
  tests/resources/wps_DummyExecuteResponseLocalFile.xml
  tests/test_wps_response6.py
Labels: wps

#685 Enable switching off SSL verification
  owslib/util.py
Labels: bug

#687 Add support for WMTS BoundingBoxes
  owslib/wmts.py
Labels: wms

#689 remove wfs test for version 1.0.0
  tests/test_wfs_schema.py
Labels: bug, tests, wfs
