Repository geopython/OWSLib, pull requests merged in 2020-01, with the labels that each got.

#634 Add python_requires to prevent pip installing this on py2
  setup.py
Labels: bug

#644 test for issue 636
  tests/resources/wms_datageo_caps_130.xml
  tests/test_wms_datageo_130.py
Labels: enhancement, wms

#648 Tests: replace service URLs with working versions.
  tests/test_remote_metadata.py
Labels: tests

#647 Fix WFS get_schema when typename doubles as attributename
  owslib/feature/schema.py
  tests/resources/wfs_schema_dov_boringen.xml
  tests/resources/wfs_schema_dov_hhz.xml
  tests/test_wfs_schema.py
Labels: wfs

#649 update wms docs
  docs/en/index.rst
Labels: documentation, wms

#651 Tests: use HEAD instead of GET in service_ok
  tests/utils.py
Labels: enhancement

#628 Add required fields to wfs schema
  owslib/feature/schema.py
  tests/test_wfs_schema.py
Labels: help wanted, question, wfs

#652 converted doctest wms_getfeatureinfo_130
  tests/doctests/wms_getfeatureinfo_130.txt
  tests/test_wms_getfeatureinfo_130.py
Labels: tests
