Repository geopython/OWSLib, pull requests merged in 2020-12, with the labels that each got.

#719 fix wps bbox
  owslib/wps.py
Labels: bug

#722 Add test for DataURL format
  owslib/map/wms111.py
Labels: bug, wms

#720 Fix tests
  .travis.yml
  owslib/map/wms111.py
  owslib/map/wms130.py
  owslib/util.py
  tests/resources/wfs_dov_getcapabilities_110.xml
  tests/resources/wfs_dov_getcapabilities_200.xml
  tests/resources/wms_dov_getcapabilities_130.xml
  tests/resources/wms_dov_getcapabilities_130_nometadata.xml
  tests/test_wmts.py
Labels: bug, tests

#723 update changes
  CHANGES.rst
Labels: documentation
