Repository geopython/OWSLib, pull requests merged in 2020-02, with the labels that each got.

#654 WPS: support multiple languages
  owslib/wps.py
  tests/test_wps_describeprocess_language.py
  tests/test_wps_execute_language.py
  tests/test_wps_getcapabilities_language.py
Labels: enhancement

#655 wps: parse Languages section in GetCapabilities
  owslib/wps.py
  tests/test_wps_getcapabilities_language.py
Labels: enhancement, wps

#656 fix for cartopy/wmts examples, solves #619
  owslib/wmts.py
Labels: wmts

#657 Fix wms tests 20200211
  tests/doctests/wmts_RESTonly.txt
  tests/test_wms_getfeatureinfo_130.py
  tests/test_wmts_restonly.py
Labels: tests

#658 add WCS code example to documentation
  docs/en/index.rst
Labels: documentation, wcs

#661 Fix pyproj deprecation
  owslib/feature/wfs100.py
  requirements.txt
Labels: wfs

#663 fix param_list_to_url_string() util function and refactor
  owslib/coverage/wcs100.py
  owslib/coverage/wcs200.py
  owslib/coverage/wcs201.py
  owslib/util.py
Labels: bug

#659 drop last bits of python 2
  .travis.yml
  owslib/feature/common.py
  owslib/feature/wfs100.py
  owslib/feature/wfs110.py
  owslib/feature/wfs200.py
  requirements-dev.txt
  setup.py
  tests/doctests/wfs_MapServerWFSFeature.txt
Labels: enhancement
